body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.stickers {
    display: flex;
   
}


.sticker img {
    width: 100%;
    height: 400px;
}

.sticker {
    display: flex;
    flex-direction: column ;
    align-items: center;
}



button {
    display: flex;
    justify-content: center;
}